.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.page {
  background-color: red;

}
img {
  padding-left: 0px;
  width: 100%;
  position: relative;
  text-indent: 0px;

}

.jumbotron {
 min-height: 30px;
 padding: 2px;
}

.jumbotron h2{
    margin-left: 5px;
}

.jumbotron .btn.default{
    display: inline;
}


/* Portlet stuff */

body {
    min-width: 520px;
}
.column {
    width: 100%;
    float: left;
    padding-bottom: 100px;
}

.portlet-header {
    padding: 0.2em 0.3em;
    position: relative;
    color: #fff;
}

.portlet {
 margin-top: 1px;
}

.portlet-header img {
 width:10%;
 float: left;
 margin-right: 1%;
 margin-left: 1%;
 height: 1.5em;
}
.portlet-header p {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  font-weight: 400;
  vertical-align: middle;
  font-size: 14px;

}

.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}
.portlet-content {
    display: none;
    padding: 0.4em;
}
.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}

.ui-widget-header {
   background: #428bca;
   border: 0;
}

/* Progress Bar */

.ui-progressbar {
 height: 0.8em;
}
.ui-progressbar-value {
 background: #00e500;

}
.ui-progressbar .ui-progressbar-value{
 margin:0px;
}

/*buttons */
.btn-backlog-col {
 display: block;
 margin: 1px;
}
.btn-primary {
 margin-right: 5px;
}

.btn-tasklet {
 display: inline-block;
 float: right;
 margin-top: 5px;
 margin-bottom: 5px;
 margin-right: 0px;
 margin-left: 5px;
}
/* priority level */
.prio-img{
 height: 20px;
 width: 20%;
}


/* org-pill */
.proj-org-pill {
 display: inline-block;
 height: 50px;
 width: 200px;
 margin-top: 10px;
 margin-right: 10px;
 background-color: #428bca;
 text-align: center;
 border-radius: 4px;
 transition: .5s ease;
}

.proj-org-pill a {
 height: 50px;
 width:  200px;
 color:#fff;
 text-decoration: none !important;
 display: table-cell;
 font-size: .9em;
 word-wrap: break-word;
 vertical-align: middle;
}

.proj-org-pill:hover {
 opacity: 0.7;
 transition: .5 ease;
}
.proj-org-pill a:hover {
 transition: .5 ease;
 color: black;
}

/* Muted text for modal forms */
.text-muted {
 color: red;
}